/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styles */
.container {
    width: 1600px;
    margin: 0 auto;
    background-color: aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    padding: 20px;
    height: 80px;
}
nav a {
    text-decoration: none;
    color: green;
    padding-left: 20px;
}
section {
    width: 50%;
}
h1 {
    font-size: 50px;
    color: black;
    padding: 20px 0;
}
p {
    font-size: 25px;

}
.pic3 {
    width: 100%;
}
aside {

    width: 50%;
    justify-content: center;
}
.images {
    width: 500px;
    padding: 80px 15px;
}
footer {
    padding: 50px 0;
}