/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* header */
header {
    background-color: #222946;
    padding: 32px 0;
}
.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    margin-left: 40px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
/* main section */
main {
    padding: 30px 0;
}
.container1 {
    width: 30%;
    height: 820px;
    background-color: #A3CAEA;
    border-radius: 16px;
    padding: 30px;
}
.container2 {
    width: 66%;
    background-color: #F2F8FD;
    border-radius: 16px;
}

article a {
    text-decoration: none;
}
.images {
    padding: 20px 30px;
}
.nav {
    
    margin-right: 20px;
}
.images a {
    text-decoration: none;
    color: #222946;
    font-size: 24px;
}
.border {
    border: 3px solid orange;
    border-radius: 10px;
}
.border a {
    color: orange;
}
.pad {
    padding-bottom: 400px;
}
.log {
    border-radius: 10px;
    background-color: #F2F8FD;
}
/* article-section */
.article-image {
    padding: 10px 20px;
    width: 100%;
}
h1 {
    color: black;
    font-size: 45px;
    padding: 20px 0;
}
p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 20px;

}
.box {
    width: 150px;
    height: 40px;
    background-color: #53B667;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
footer {
    background-color: #222946;
    padding: 30px;
}
small {
    color: white;
    font-size: 20px;
}
footer a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
}